#pip install torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
modelsummary==1.1.7
torchsummary
torchtext==0.3.1
torchvision==0.5.0
spacy==2.2.4
nltk==3.4.5
rake-nltk==1.0.4
bs4==0.0.1
tqdm==4.40.2
sklearn==0.22.1
# python -m spacy download en
summa==1.2.0
vaderSentiment
matplotlib==3.2.1
# pip install git+https://github.com/LIAAD/yake



# cc: module load python/3.6
# python -m pip install <pkg> --user